.services {
  padding-left: 20%;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .s-heading {
    margin: 20px 0;
  }
  .s-heading > * {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      45deg,
      rgb(35, 34, 34) 30%,
      var(--cyan),
      var(--white)
    );
  }

  .s-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
    height: fit-content;
  }
}
