.stage-cube-cont {
  width: 80px;
  margin-left: 0;
  position: absolute;
  top: -120px;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 40px 40px 0;
  margin-left: calc(50% - 40px);

  div {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 56px;
  }

  .face1,
  .face2,
  .face3,
  .face4,
  .face5,
  .face6 {
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 50px 0px rgb(197, 231, 238);
  }

  .face1 {
    transform: translateZ(40px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(40px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(40px);
    color: #ec4d28;
  }
  .face8 {
    transform: rotateX(-90deg);
  }
  .face9 {
    transform: rotateY(-90deg);
}
}

@keyframes spincube {
from,
to {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
16% {
  transform: rotateY(-90deg) rotateZ(90deg);
}
33% {
  transform: rotateY(-90deg) rotateX(90deg);
}
50% {
  transform: rotateY(-180deg) rotateZ(90deg);
}
66% {
  transform: rotateY(-270deg) rotateX(90deg);
}
83% {
  transform: rotateX(90deg);
}
}
